body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272758;
    overflow-y: hidden;
}
.toolbar{
    display: flex;
    background-color: #333333;
    padding: 5px;
    justify-content: flex-end;
}
.toolbar button {
    margin-left: 6px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.toolbar button:hover {
    background-color: #45a049;
}
.container{
    display: flex;
    flex-direction: column;
    height: 96vh;
}
#markdown-input,
#markdown-output{
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #272726;
    overflow-y: scroll;
    font-size: 20px;
}

#markdown-input{
    color: #4ec9b0;
}

#markdown-output{
    border-top: 1px solid #ccc;
    color: #90d5fc;
}